:root {
    --background-gray: #FAFAFA;
    --background-dark-brown-opacity: rgba(38, 15, 1, 0.5);

    --main-brown: #BF793B;

    --text-gray: #9D9D9D;
    --text-darkest-brown: #260F01;

    --box-border: #EEEEEE;
}