.heading {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;

    &__bar {
        border-bottom: 3px solid var(--main-brown);
        width: 80px;
        margin-top: 12px;
    }

    &__h2 {
        text-transform: uppercase;
        font-size: 27px;
        font-weight: 500;
    }
}