.image-filler {
    width: 100vw;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-image: url(http://jackowiak.com.pl/img/woods2.jpg);

    @media (max-width: 1000px) {
        height: 200px;
    }
}

.image-filler2 {
    width: 100vw;
    height: 300px;
    margin-top: 20px;
    background-image: url(http://jackowiak.com.pl/img/woods2.jpg);

    @media (max-width: 1000px) {
        height: 200px;
    }
}