@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background-gray: #FAFAFA;
  --background-dark-brown-opacity: rgba(38, 15, 1, 0.5);
  --main-brown: #BF793B;
  --text-gray: #9D9D9D;
  --text-darkest-brown: #260F01;
  --box-border: #EEEEEE;
}

html {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper--not-centered {
  display: flex;
  justify-content: flex-end;
  width: 1100px;
}

.heading {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.heading__bar {
  border-bottom: 3px solid var(--main-brown);
  width: 80px;
  margin-top: 12px;
}

.heading__h2 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 500;
}

.top-label {
  background-color: var(--background-gray);
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 3;
}

.top-label .phone {
  color: var(--text-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}

.top-label .phone__icon {
  height: 20px;
  padding-right: 10px;
}

.top-label .phone__number {
  font-size: 100px;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .top-bar {
    justify-content: center;
  }
}

.top-bar__logo {
  height: 90px;
  margin: 15px 15px 15px 10px;
}

.top-bar__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-bar .information-icon:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 458px) {
  .top-bar .information-icon:not(:last-child) {
    margin-right: 0;
  }
}

.top-bar .information-icon {
  height: 50px;
  width: 230px;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
}

.top-bar .information-icon__image {
  height: 48px;
  padding-right: 20px;
}

.top-bar .information-icon__label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-darkest-brown);
  padding-bottom: 5px;
}

.top-bar .information-icon__text {
  color: var(--text-gray);
}

.hero-section {
  width: 100vw;
  height: 500px;
  position: relative;
}

@media (max-width: 900px) {
  .hero-section {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 700px;
  }
}

@media (max-width: 400px) {
  .hero-section {
    height: 750px;
  }
}

.hero-section__copy {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  background-color: var(--background-dark-brown-opacity);
  border-radius: 5px;
  padding: 50px 70px;
  width: 1200px;
}

@media (max-width: 850px) {
  .hero-section__copy {
    top: 40px;
  }
}

@media (max-width: 1200px) {
  .hero-section__copy {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .hero-section__copy {
    width: 800px;
  }
}

@media (max-width: 992px) {
  .hero-section__copy {
    width: 85%;
  }
}

.hero-section__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 540px) {
  .hero-section__heading {
    font-size: 30px;
  }
}

.hero-section__bar {
  border-bottom: 3px solid white;
  width: 60px;
  margin: 20px 0 20px 0;
}

.hero-section__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

@media (max-width: 540px) {
  .hero-section__text {
    font-size: 16px;
    line-height: 25px;
  }
}

.hero-section__button-anchor {
  max-width: 200px;
}

.hero-section__cta-button {
  padding: 15px 20px;
  width: 200px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  background: white;
  border: none;
  color: var(--main-brown);
  transition: width 0.5s 0s ease, background 0.5s 0s ease, color 0.5s 0s ease;
}

@media (max-width: 400px) {
  .hero-section__cta-button {
    font-size: 14px;
  }
}

.hero-section__cta-button:hover {
  background: var(--main-brown);
  cursor: pointer;
  width: 230px;
  color: white;
}

.hero-section .wrapper-slide {
  position: relative;
  height: inherit;
  width: inherit;
  overflow: hidden;
  z-index: 0;
}

.hero-section .slideshow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}

.hero-section .slideshow--hero {
  z-index: 3;
  left: 0;
  top: 50%;
  height: 85%;
  transform: translateY(-50%) skewY(-10deg);
  transform-origin: center;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.hero-section .slideshow--hero .slides {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100vw;
  height: 100vh;
  animation: 11s slideshow-hero-mobile -3s infinite;
}

.hero-section .slideshow--hero .slide1 {
  background-image: url(http://jackowiak.com.pl/img/woods1.jpg);
  animation: 20s slides-set-1 -0.1s infinite;
}

.hero-section .slideshow--hero .slide2 {
  background-image: url(http://jackowiak.com.pl/img/woods2.jpg);
  animation: 20s slides-set-2 -0.1s infinite;
}

.hero-section .slideshow--hero .slide3 {
  background-image: url(http://jackowiak.com.pl/img/woods3.jpg);
  animation: 20s slides-set-3 -0.1s infinite;
}

@media (min-width: 600px) {
  .hero-section .slideshow--hero {
    left: 50%;
    top: 0;
    width: 67%;
    height: 100%;
    transform: translateX(-50%) skewX(-10deg);
  }
  .hero-section .slideshow--hero .slides {
    top: 0;
    left: -25%;
    height: 100%;
    animation: 11s slideshow-hero -3s infinite;
  }
}

.hero-section .slideshow--contrast {
  z-index: 1;
  width: 100%;
  height: 50%;
  transform: none;
}

.hero-section .slideshow--contrast--before {
  left: 0;
}

.hero-section .slideshow--contrast--before .slides {
  width: 100vw;
}

.hero-section .slideshow--contrast--after {
  z-index: 2;
  left: auto;
  right: 0;
}

.hero-section .slideshow--contrast--after .slides {
  width: 100vw;
  left: auto;
  right: 0;
}

.hero-section .slideshow--contrast .slides {
  animation: 14s slideshow-contrast -5s infinite;
}

.hero-section .slideshow--contrast .slide1 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(http://jackowiak.com.pl/img/woods2.jpg);
  animation: 20s slides-set-1 -0.2s infinite;
}

.hero-section .slideshow--contrast .slide2 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(http://jackowiak.com.pl/img/woods1.jpg);
  animation: 20s slides-set-2 -0.2s infinite;
}

.hero-section .slideshow--contrast .slide3 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(http://jackowiak.com.pl/img/woods3.jpg);
  animation: 20s slides-set-3 -0.2s infinite;
}

.hero-section .slideshow--contrast--after {
  top: auto;
  bottom: 0;
}

.hero-section .slideshow--contrast--after .slides {
  animation: 13s slideshow-contrast -13s infinite;
}

.hero-section .slideshow--contrast--after .slide {
  background-position: right;
}

.hero-section .slideshow--contrast--after .slide1 {
  animation: 20s slides-set-1 infinite;
}

.hero-section .slideshow--contrast--after .slide2 {
  animation: 20s slides-set-2 infinite;
}

.hero-section .slideshow--contrast--after .slide3 {
  animation: 20s slides-set-3 infinite;
}

@media (min-width: 600px) {
  .hero-section .slideshow--contrast {
    width: 50%;
    height: 100%;
  }
  .hero-section .slideshow--contrast--after {
    top: 0;
    bottom: auto;
  }
  .hero-section .slideshow--contrast--after .slides {
    width: 50vw;
  }
}

.hero-section .slides,
.hero-section .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slideshow-hero-mobile {
  0% {
    transform: scale(1) skewY(10deg);
  }
  50% {
    transform: scale(1.05) skewY(10deg);
  }
  100% {
    transform: scale(1) skewY(10deg);
  }
}

@keyframes slideshow-hero {
  0% {
    transform: scale(1) skewX(10deg);
  }
  50% {
    transform: scale(1.05) skewX(10deg);
  }
  100% {
    transform: scale(1) skewX(10deg);
  }
}

@keyframes slideshow-contrast {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes slides-set-1 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  31% {
    opacity: 1;
    transform: scale(1);
  }
  34% {
    opacity: 0;
    transform: scale(1.05);
  }
  97% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slides-set-2 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  31% {
    opacity: 0;
    transform: scale(1.05);
  }
  34% {
    opacity: 1;
    transform: scale(1);
  }
  64% {
    opacity: 1;
    transform: scale(1);
  }
  67% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

@keyframes slides-set-3 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  64% {
    opacity: 0;
    transform: scale(1.05);
  }
  67% {
    opacity: 1;
    transform: scale(1);
  }
  97% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

.services {
  --box-width: 320px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .services {
    justify-content: center;
    gap: 15px;
  }
}

@media (min-width: 1010px) {
  .services {
    margin-top: 50px;
  }
}

.services .service-card {
  width: var(--box-width);
  height: 400px;
  position: relative;
}

@media (max-width: 1010px) {
  .services .service-card:not(:first-child), .services .service-card:not(:nth-child(2)) {
    margin-top: 50px;
  }
}

.services .service-card__image {
  width: var(--box-width);
  z-index: 0;
}

.services .service-card__copy-box {
  position: absolute;
  top: 170px;
  background-color: white;
  border: 1px solid var(--box-border);
  padding: 25px 20px 25px 20px;
  transition: ease 0.3s 0s;
  height: 250px;
}

.services .service-card__copy-box--expanded {
  top: 250px;
  z-index: 3;
}

.services .service-card__title {
  margin-bottom: 15px;
  color: var(--text-darkest-brown);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
}

.services .service-card__copy {
  color: var(--text-gray);
  font-weight: 300;
}

.about-us {
  margin-top: 70px;
  max-width: 100vw;
  background-color: var(--background-gray);
  padding: 50px 0px;
}

@media (max-width: 1100px) {
  .about-us {
    padding: 50px 40px;
  }
}

.about-us__text-content {
  margin-top: 30px;
}

@media (min-width: 1100px) {
  .about-us__text-content {
    max-width: 60%;
  }
}

.about-us__heading {
  font-size: 30px;
  font-weight: 300;
}

.about-us__simple-text {
  color: var(--text-gray);
  font-weight: 300;
  margin-top: 25px;
  line-height: 23px;
}

.products {
  --product-box-width: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.products .product-card {
  width: var(--product-box-width);
  height: 300px;
  position: relative;
  margin-bottom: 50px;
}

.products .product-card__image {
  width: var(--product-box-width);
  z-index: 0;
}

.products .product-card__copy-box {
  position: absolute;
  top: 100px;
  background-color: white;
  border: 1px solid var(--box-border);
  padding: 20px 15px 20px 15px;
  transition: ease 0.3s 0s;
  height: 240px;
}

.products .product-card__copy-box--expanded {
  top: 150px;
  z-index: 3;
}

.products .product-card__title {
  margin-bottom: 10px;
  color: var(--text-darkest-brown);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}

.products .product-card__copy {
  color: var(--text-gray);
  font-weight: 300;
}

.products .product-card__bold {
  color: var(--main-brown);
}

.image-filler {
  width: 100vw;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-image: url(http://jackowiak.com.pl/img/woods2.jpg);
}

@media (max-width: 1000px) {
  .image-filler {
    height: 200px;
  }
}

.what-characterizes {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .what-characterizes {
    grid-template-columns: repeat(1, 1fr);
  }
}

.what-characterizes__heading {
  font-size: 27px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .what-characterizes__heading {
    margin-bottom: 40px;
    text-align: center;
  }
}

.what-characterizes__bold {
  font-weight: 500;
  color: var(--main-brown);
}

.what-characterizes__paragraph {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 15px;
}

@media (max-width: 600px) {
  .what-characterizes__paragraph {
    text-align: center;
  }
}

.what-characterizes__paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.reach-us {
  max-width: 100vw;
  background-color: var(--background-gray);
  padding: 50px 0px;
  margin: 0 auto;
}

.reach-us__layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1150px) {
  .reach-us__layout {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
}

.reach-us__info-area .information-icon {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.reach-us__info-area .information-icon:not(:last-child) {
  margin-bottom: 70px;
}

.reach-us__info-area .information-icon__image {
  height: 70px;
  padding-right: 20px;
}

.reach-us__info-area .information-icon__label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-darkest-brown);
  padding-bottom: 5px;
}

.reach-us__info-area .information-icon__text {
  font-size: 18px;
  color: var(--text-gray);
}

.reach-us__map {
  width: 600px;
  height: 300px;
  align-self: center;
}

@media (max-width: 650px) {
  .reach-us__map {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .reach-us__map {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */